<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/image.png" type="image/x-icon" class="image-circle"> <!-- Thêm thẻ favicon -->
</head>
<body>
    <header class="header">
        <div class="header-content">
            <nav class="menu-left">
                <ul>
                    <li><a href="/">Blog</a></li>
                </ul>
            </nav>
            <div class="avatar-section info">
                <img src="/images/image.png" alt="Avatar" class="avatar">

                <h1>Dương Duy Hưng</h1>
            </div>
            <nav class="menu-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/post/">Post</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>